.td-modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 1040;
    /* background-color: rgba(0, 0, 0, 0.5); */
    font-size: 14px;
    display: none;
}

.td-modal-dialog {
    position: absolute;
    margin: 0 auto;
    min-width: 300px;
    width: auto;
    left: 50%;
    top: 0%;
    transform: translate(-50%, -100%);
    box-sizing: border-box;
    transition: all .3s ease-out;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
}

.td-modal.in .td-modal-dialog {
    top: 50%;
    transform: translate(-50%, -50%);
}

.td-modal-content {
    position: relative;
    background-color: #ffffff;
    box-sizing: border-box;
    outline: 0;
}

.td-modal-header {
    position: relative;
    font-size: 14px;
    color: #003366;
    text-align: left;
    text-indent: 20px;
    height: 48px;
    line-height: 48px;
    background-size: auto 100%;
    font-weight: bold;
}

.td-modal-header .td-modal-close {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.td-modal-body {
    position: relative;
    padding: 72px;
    box-sizing: border-box;
}

.td-modal-footer {
    padding: 8px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
    text-align: center;
}

.td-modal-footer input {
    font-size: 14px;
    color: #003366;
    background-color: #FFFFFF;
    text-align: center;
    vertical-align: bottom;
    border: none;
    height: 28px;
    line-height: 1;
    width: 60px;
    cursor: pointer;
    background-size: 100% 100%;
    /* outline: none; */
}

.my-row::before,
.my-row::after {
    content: "";
    clear: both;
    display: table;
}

.input {
    line-height: 30px;
    border: 1px solid black;
    height: 30px;
}